@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

*{
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background: #3a3a3a;
}

header{
    width: 100%;
    text-align: center;
    letter-spacing: -2px;
    color: #757575;
    text-shadow: 2px 2px 2px black;
}

main{
    width: 100%;
}

section{
    width: 100%;
    margin: auto;
    text-align: center;
}

.keyboard {
    display: flex;
    justify-content: center;
}
.key__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 174px;
}

.key, .reset{
    font-family: 'Roboto Mono', monospace;
    line-height: 42px;
    border: 4px solid #333333;
    color: #8e8e8e;
    background: #333333;
    font-size: 22px;
    border-radius: 5px;
    cursor: pointer;    
    box-shadow: 3px 3px 1px -1px #0000004a;
    width: 50px;
    height: 50px;
    margin: 4px;
    outline: none;
}

.key:active,
.reset:active{
    box-shadow: 1px 1px 1px -1px #0000004a;
    outline: none;
}
.reset{
    background: #980000;
    border-color: #980000;
}

.display{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.output{
    width: 164px;
    height: 40px;
    border: 2px solid #1f1f1f;
    margin-bottom: 8px;
    line-height: 36px;
    letter-spacing: 8px;
    font-family: 'Roboto Mono', monospace;
}